<%- include('partials/header') -%>

<h1>This is admin's page, classified data, only admin should be able to see it!!!</h1>

<h1 class="text-4xl mb-4">Welcome admin!</h1>


<%- include('partials/footer') -%>
