<%- include('partials/header') -%>

<style>
    button, input {
        border: 1px black solid;
    }

    select {
        border: 1px black solid;
    }
</style>

<h1 class="text-4xl">Hello World</h1>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/user" class="underline">View your profile</a>.</p>
    <form action="/" name="form1" method="POST" id="form1">
        <input type="hidden" name="method" value="baccheck">
        <label for="control">Broken access control:</label>
        <select name="control" id="control">
            <option value="true">Possible to do</option>
            <option value="false">Impossible to do</option>
        </select>
        <button type="submit" name="submit">Submit</button>
    </form>
    <form action="/" name="form2" method="POST" id="form2">
        <input type="hidden" name="method" value="sqlcheck">
        <label for="control2">SQL injection:</label>
        <select name="control2" id="control2">
            <option value="true">Possible to do</option>
            <option value="false">Impossible to do</option>
        </select>
        <button type="submit" name="submit2">Submit</button>
    </form>
    <form action="/" name="form3" method="POST" id="form3">
        <input type="hidden" name="method" value="idcheck">
        <label for="movieid">Id of a movie you want to see details for:</label>
        <% if (sql === true) { %>
        <input type="text" name="movieid">
            <% } else {%>
            <input type="number" name="movieid">
            <% }%>
        <button type="submit" name="submit3">Submit</button>
    </form>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
