<%- include('partials/header') -%>

<h1>Movie page</h1>

<% movies.forEach(function(movie) { %>
<h1>Id: <%= movie.id_movie %> Title: <%= movie.title %> Genre: <%= movie.genre %> Published:<%= movie.published %></h1>
<% }); %>

<%- include('partials/footer') -%>
